.modal-dialog {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 888px;
    height: 62vh;
    background-color: var(--color-1);
    box-shadow: 16px 40px 64px rgba(41, 15, 0, 0.56);

    border-radius: 28px;
    padding: 3px;

    background-image: linear-gradient(45deg, var(--color-1), var(--color-2), var(--color-1), var(--color-2));
}

.modal-dialog .modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 888px;
    height: 62vh;

    // padding: 40px 40px 40px 40px;

    color: var(--color-4);
    background-color: var(--color-1);

    padding: 37px 48px 24px 24px; 

    border-radius: 25px;
}

.modal-dialog .modal-content .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 0px 0px 24px 24px;
}

.modal-dialog .modal-content .modal-header .h-left {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.modal-dialog .modal-content .modal-header .h-left img {
    width: 100px;
    height: 100px;
}

.modal-dialog .modal-content .modal-header .h-left h1 {
    font-size: 100px;
}

.modal-dialog .modal-content .modal-header .h-left .modal-title {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 20px;
}

.modal-dialog .modal-content .modal-header .h-right button {
    all: unset;
    cursor: pointer;
    outline: revert;
}

.modal-dialog .modal-content .modal-header .h-right button img {
    width: 24px;
    height: 24px;
}

.modal-dialog .modal-content .modal-body {
    padding: 10px 24px 0px 24px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    gap: 16px;
}

.modal-dialog .modal-content .modal-body h5 {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
}

.modal-dialog .modal-content .modal-body .title {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    width: 320px;

    color: #A8A5AF;
}

.modal-dialog .modal-content .modal-body .field {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 8px;
    width: 320px;

    display: flex;
    align-items: center;

    color: #FFFFFF;
}

.modal-dialog .modal-content .modal-body .first-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal-dialog .modal-content .modal-body .second-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
}