<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">

    <div class="modal-content">

        <div class="modal-header">

            <div class="h-left">

                <img src="../../assets/img/Profile.svg" alt="">
                <h1 class="modal-title" id="staticBackdropLabel">Nívea</h1>

            </div>

            <div class="h-right">

                <button type="submit">
                    <img src="../../assets/img/edit.svg" alt="">
                </button>
                
            </div>
        
        </div>

        <div class="modal-body">

            <h5>Dados pessoais</h5>

            <div class="first-line">
                
                <div class="email">

                <p class="title">E-mail</p>
                <p class="filed">nivea@gmail.com</p>

                </div>

                <div class="password">

                    <p class="title">Senha</p>
                    <p class="filed">*************</p>

                </div>

            </div>

            <div class="second-line">
                
                <div class="cell">

                    <p class="title">Celular</p>
                    <p class="filed">(14) 99999-0000</p>

                </div>
                
            </div>
    
        </div>
            
    </div>

</div>