<div class="container">
    <div class="img-grad">
        <img src="../../assets/img/Gradiente.svg" alt="" class="gradiante">
    </div>
    <div class="nav">
        <nav>
            <div class="left">
                <p class="date">{{ currentDate | date: 'EEEE, dd MMM yyyy' }}</p>
                <p class="info">
                    Olá, {{ nameList }}! O que Deseja realizar?
                </p>
            </div>
            <div class="right">
                <a (click)="abrirModal()">
                    <img src="../../assets/img/Perfil.svg" alt="">
                </a>
            </div>
        </nav>
    </div>
</div>