.modal-dialog {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 888px;
    height: 67vh;
    background-color: var(--color-1);
    box-shadow: 16px 40px 64px rgba(41, 15, 0, 0.56);

    border-radius: 28px;
    padding: 3px;

    background-image: linear-gradient(45deg, var(--color-1), var(--color-2), var(--color-1), var(--color-2));

    // Posição MODAL
    position: absolute;
    box-shadow: 10px 10px 250px 900px rgba(0, 0, 0, 0.4);
    // transform: translate(-50%, -50%);
    top: 15vh;
    left: 22vw;
}

.modal-dialog .modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    color: var(--color-4);
    background-color: var(--color-1);

    padding: 24px 40px 24px 24px; 

    border-radius: 25px;
}

.modal-dialog .modal-content .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 24px 0px 24px 24px;
}

.modal-dialog .modal-content .modal-header .h-left {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.modal-dialog .modal-content .modal-header .h-left h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 20px;
}

.modal-dialog .modal-content .modal-body {
    padding: 10px 24px 10px 24px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    gap: 8px;
}

.modal-dialog .modal-content .modal-body h5 {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
}

.modal-dialog .modal-content .modal-body .title {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    width: 320px;

    color: #A8A5AF;
}

.modal-dialog .modal-content .modal-body .field {
    width: 320px;
    height: 20px;

    border-radius: 0px 0px 12px 0px;
    border-bottom: 1px solid var(--color-2);
    border-top: 0;
    border-left: 0;
    border-right: 0;

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 8px;
    text-align: left;
    color: #FFFFFF;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 8px;
    
    background: var(--color-1);
}

.modal-dialog .modal-content .modal-body .field::placeholder {
    color: var(--color-4);
}

.modal-dialog .modal-content .modal-body .field:focus {
    outline: none;
    box-shadow: none;
    border-radius: 0px 0px 12px 0px;
    border-bottom: 1px solid var(--color-2);
    border-top: 0;
    border-left: 0;
    border-right: 0;
    background: var(--color-1);
    color: #FFFFFF;
}

.modal-dialog .modal-content .modal-body .first-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 0px 24px 0px;
}

.modal-dialog .modal-content .modal-body .second-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 0px 24px 0px;
}

.modal-dialog .modal-content .modal-body .first-line .course button {
    position: absolute;

    width: 20px;
    height: 20px;

    all: unset;
    cursor: pointer;
    outline: revert;
}

.modal-dialog .modal-content .modal-body .first-line .class button {
    position: absolute;

    width: 20px;
    height: 20px;

    all: unset;
    cursor: pointer;
    outline: revert;
}

.modal-dialog .modal-content .modal-body .first-line .course button img {
    position: absolute;

    width: 20px;
    height: 20px;
    left: 310px;
    top: 87px;
}

.modal-dialog .modal-content .modal-body .first-line .class button img {
    position: absolute;

    width: 20px;
    height: 20px;
    left: 760px;
    top: 87px;
}

.modal-dialog .modal-content .modal-footer {
    display: flex;
    align-items: center;
    justify-content:flex-end;

    padding: 16px 24px 16px 24px; 


    gap: 24px;
}

.modal-dialog .modal-content .modal-footer .add {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 160px;
    height: 40px;

    color: var(--color-4);

    background-color: #6B997F;
    
    border-radius: 12px;
    border: 0.5px #FFF solid;
    border-color: #9EFFCA rgba(139, 130, 181, 0.4) rgba(139, 130, 181, 0.4) #9EFFCA;
}

.modal-dialog .modal-content .modal-footer .cancel {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 160px;
    height: 40px;

    color: var(--color-4);

    background: rgba(255, 255, 255, 0.03);
    
    border-radius: 12px;
    border: 0.5px #FFF solid;
    border-color: #9EFFCA rgba(139, 130, 181, 0.4) rgba(139, 130, 181, 0.4) #9EFFCA;
}

.dropdown-checkbox {
    display: none;
  }
  
  .dropdown-checkbox:checked ~ .dropdown-content {
    display: block;
    margin-left: 320px;
    margin-top: -14px;
  }
  
  .fieldlabel {
    width: 320px;
    height: 20px;
  
    border-radius: 0px 0px 12px 0px;
    border-bottom: 1px solid var(--color-2);
    border-top: 0;
    border-left: 0;
    border-right: 0;
  
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 8px;
    text-align: left;
    color: #FFFFFF;
  
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 8px;
    
    background: var(--color-1);
  }
    
  .arrow {
    margin-left: 290px;
  }


  .course {
    position: relative;
  }
  
  .dropdown-content {
    position: fixed;
    top: 40;
    left: 80;
    display: none;
    /* Estilize o dropdown conforme necessário */
    z-index: 9999;
  }
  
  .field:checked ~ .dropdown-content {
    display: block;
  }
  

  .modal-dialog .modal-content .modal-body .field2 {
    width: 270px;
    height: 20px;
  
    border-radius: 0px 0px 12px 0px;
    border-bottom: 1px solid var(--color-2);
    border-top: 0;
    border-left: 0;
    border-right: 0;
  
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 8px;
    text-align: left;
    color: #FFFFFF;
  
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 8px;
    
    background: var(--color-1);
  }
  .dropdown-checkbox2 {
    display: none;
  }
  
  .dropdown-content2 {
    display: none;
  }
  
  #dropdown2:checked ~ .dropdown-content2 {
    display: block;
    margin-left: 300px;
    margin-top: -18px;
  }

  .fieldlabel2 {
    width: 320px;
    height: 20px;
  
    border-radius: 0px 0px 12px 0px;
    border-bottom: 1px solid var(--color-2);
    border-top: 0;
    border-left: 0;
    border-right: 0;
  
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 8px;
    text-align: left;
    color: #FFFFFF;
  
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 8px;
    position: relative;
    
    background: var(--color-1);
  }

  
  .class {
    position: relative;
  }
  
  .dropdown-content2 {
    position: fixed;
    top: 40;
    left: 80;
    display: none;
    /* Estilize o dropdown conforme necessário */
    z-index: 9999;
    
  }
  
  .field2:checked ~ .dropdown-content2 {
    display: block;
  }