<div class="card-body">
    <div class="left">
        <img src="../../../assets/img/perfil-student.svg" alt="">
        <h2>{{ infoperson.user_name }}</h2>
    </div>
    <div class="right">
        <div class="buttons">
            <button class="edit" (click)="abrirModalEdit(infoperson)">
                <img src="../../../assets/img/edit.svg" alt="">
            </button>
            <button class="delete" (click)="abrirModalDelete()">
                <img src="../../../assets/img/Delete.svg" alt="">
            </button>
        </div>
        <label class="mcui-checkbox">
            <input type="checkbox" (click)="onCardClick()" [checked]="isChecked">
            <div>
            <svg class="mcui-check" viewBox="-2 -2 35 35" aria-hidden="true" >
                <title>checkmark-circle</title>
                <polyline points="7.57 15.87 12.62 21.07 23.43 9.93" />
            </svg> 
            </div>
        </label>
    </div>
</div>
