<div class="container">
    <div class="top">
        <div class="search">
            <div class="left">
                <form class="forms">
                    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Pesquisar">
                </form>
            </div>
            <div class="right">
                <button>
                    <img src="../../../assets/img/Mensagem.svg" alt="">
                    Enviar Mensagem
                </button>
                <button class="btn-select-all"  class="btn-mensager" (click)="onCardClickAll()">
                <!-- <button class="btn-select-all"  class="btn-mensager"> -->
                    Selecionar Todos
                </button>
                <button class="btn-filter">
                    <img src="../../../assets/img/Vector.svg" alt="" class="filter">
                </button>
            </div>
        </div>
    </div>
    <div class="container-cards">
        <div class="cards">
                <app-cards></app-cards>            
                <app-cards></app-cards>
                <app-cards></app-cards>
                <app-cards></app-cards>
                <app-cards></app-cards>
                <app-cards></app-cards>
        </div>
    </div>
</div>