*{
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), #8B82B5;;
    
}

.container{
    height: 70vh;
}

.top{
    display: flex;
    justify-content: center;
    align-items: center;
}

.search{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
    width: 1108px;

}

.left{
    width: 427px;
}

.right{
    display: flex;
    gap: 40px;
    width: 450px;
    justify-content: end;
}

input{
    box-sizing: border-box;

    width: 427px;
    height: 40px;


    font-size: 16px;

    border-color: #9EFFCA rgba(139, 130, 181, 0.4) rgba(139, 130, 181, 0.4) #9EFFCA;
    background: rgba(255, 255, 255, 0.03);
    border-radius: 12px;
    outline: none;
    box-shadow: none;
}

input:focus {
    outline: none;
    box-shadow: none;
    border-color: #9EFFCA rgba(139, 130, 181, 0.4) rgba(139, 130, 181, 0.4) #9EFFCA;
    background: rgba(255, 255, 255, 0.03);
    color: #FFFFFF;
}

button{
    align-items: center;
    padding: 16px 8px;
    gap: 8px;
    padding: 0 10px;
    height: 40px;
    background: rgba(255, 255, 255, 0.03);
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
    border: 1.3px #FFF solid;
    border-color: #9EFFCA rgba(139, 130, 181, 0.4) rgba(139, 130, 181, 0.4) #9EFFCA;
    border-radius: 12px;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: #FFFFFF;
    text-shadow: 0px 0px 0px rgba(255, 255, 255, 0.5);
}

button:hover{
    color: #9EFFCA;

}

img{
    width: 16.94px;
    height: 16px;
    background: transparent;
}

.btn-mensager{
    width: 167px;
    height: 40px;
    
}
 
.container-cards{
    display: flex;
    justify-content:center;
    align-items: center;
}

.cards{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;
    height: calc(70vh - 7rem);
    overflow-y: auto;
    background: transparent;
    width: 1108px;
    box-shadow: 5px 5px 64px rgba(41, 15, 0, 0.4);
}


*::-webkit-scrollbar {
    width: 12px;
}
  
*::-webkit-scrollbar-track {
    background: linear-gradient(270deg, rgba(158, 255, 202, 0.2) 0%, rgba(158, 255, 202, 0) 97.91%);
    box-shadow: 0px 0px 12px #9EFFCA;
}
  
*::-webkit-scrollbar-thumb {
    background: #9EFFCA;
    border-radius: 12px;
}