<div class="container">
    <!-- <app-student></app-student> -->
    <div class="top">
        <div class="search">
            <div class="left">
                <form class="forms">
                    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Pesquisar" style="font-size: 14px; font-weight: 400;">
                </form>
            </div>
            <div class="right">
                <button class="btn-mensager" (click)="abrirModal()" (click)="ContChecked()" (click)="onChangeCheckbox()">
                    <img src="../../../assets/img/Mensagem.svg" alt="">
                    Enviar Mensagem
                </button>
                <button class="btn-select-all"  class="btn-select" (click)="onCardClickAll()">
                <!-- <button class="btn-select-all"  class="btn-mensager"> -->
                    {{ selectAll ? 'Deselecionar Todos' : 'Selecionar Todos' }}
                </button>
                <button class="btn-filter" (click)="abrirModal2()">
                    <img src="../../../assets/img/Vector.svg" alt="" class="filter">
                    <img src="../../../assets/img/filter_active.svg" alt="" class="filter_active">
                </button>
            </div>
        </div>
    </div>
    <div class="container-cards">
        <div class="cards" *ngFor="let i of infocard">
                <app-cards [itens]="i"></app-cards>          
        </div>
    </div>
</div>