<div class="bg">

    <div class="container">

        <div class="header">

            <div class="h-left">
                <img src="../../../assets/img/G.svg" alt="">
            </div> 

            <div class="h-right">
                <p>Já possui conta? <button>Entre</button></p>
            </div>
            
        </div>

        <div class="body">

            <div class="b-left">

                <h1>Plataforma de egressos Graduway - Alumni Fatec.</h1>

            </div>

            <div class="b-right">
                
                <div class="content">

                    <div class="title">

                       <h5>Confirme seu e-mail.</h5>

                    </div>

                    <div class="info">

                        <p>Confirme seu e-mail para continuar seu cadastro. Caso não encontre o e-mail, verifique sua caixa de spam e sua lixeira ou clique em reenviar e-mail.</p>

                    </div>

                    <div class="button">

                        <button type="submit" class="btn-btn-primary">Reenviar e-mail</button>

                    </div>

                    <div class="progress">

                        <div class="progress1"></div>
                        <div class="progress2"></div>
                        <div class="progress3"></div>

                    </div>

                </div>
                
            </div>
            
        </div>

        <div class="footer">

            <p>Ao criar uma conta, você concorda com os <button (click)="abrirModal()">Termos de Privacidade.</button></p>

        </div>

    </div>

</div>