<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">

    <div class="modal-content">

        <div class="modal-header">

            <div class="h-left">

                <h1 class="title" id="staticBackdropLabel">Editar Perfil</h1>

            </div>
        
        </div>

        <div class="modal-body">

            <h5>Dados pessoais</h5>

            <form>

                <div class="first-line">

                    <div class="name">

                        <p class="title">Nome</p>
                        <input class="field" type="name" placeholder="Nívea" value="">

                    </div>

                    <div class="email">

                        <p class="title">E-mail</p>
                        <input class="field" type="email" placeholder="nivea@gmail.com" value="">

                    </div>

                    

                </div>
                
                <div class="second-line">
                    
                    <div class="password">

                        <p class="title">Senha</p>
                        <input class="field" type="password" placeholder="************" value="">
                    </div>

                    <div class="cell">

                        <p class="title">Celular</p>
                        <input class="field" type="text" placeholder="(14) 99999-0000" value="">

                    </div>
                    
                </div>

            </form>
            
        </div>

        <div class="modal-footer">

                <button type="button" class="cancel" data-bs-dismiss="modal">Cancelar</button>
        
                <button type="button" class="save">Salvar</button>
        
        </div>

    </div>

</div>