<div class="container">
    <div class="top">
        <form class="mb-3">
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Pesquisar">
        </form>
        <div class="right">
            <button class="btn-mensager">
                <img src="../../../assets/img/Mensagem.svg" alt="">
                Enviar Mensagem
            </button>
            <button class="btn-select-all">Selecionar Todos</button>
            <button class="btn-filter">
                <img src="../../../assets/img/Vector.svg" alt="" class="filter">
            </button>
        </div>
    </div>
</div>