<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">

    <div class="modal-content">

        <div class="modal-body">

            <div class="text">
                
                <p class="text-cookies">Tem certeza que deseja salvar as informações?</p>
            
            </div>

            <div class="button">

                <button class="cancel" id="cancel">Cancelar</button>

                <button class="save" id="save">Salvar</button>

            </div>

        </div>
            
    </div>

</div>