<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">

    <div class="modal-content">

        <div class="modal-body">

            <div class="text">
                
                <p class="text-cookies">Utilizamos cookies para fornecer uma melhor experiência para nossos usuários, consulte nossos<button>Termos de Privacidade.</button></p>
            
            </div>

            <div class="button">

                <button class="accept" id="accept" (click)="accept()">Aceitar</button>

                <button class="refuse" id="refuse">Recusar</button>

            </div>

        </div>
            
    </div>

</div>