<div class="container">
    <div class="row"> 
        <div class="top">
            <a href="" class="icon">  
                <img src="../../assets/img/Logo.svg" alt="" class="img-icon">
            </a> 
            <hr class="hr">
            <div class="navbar">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <div class="content">
                            <button routerLink="/dashboard" class="btn btn-primary dashboard">
                                <!-- <img src="../../assets/img/{{ menu.img }}" alt=""> -->
                                <img src="../../assets/img/01botton.svg" alt="" class="dashboard">
                                Painel de Turmas
                            </button>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="content">
                            <button routerLink="/management" href="" class="btn btn-primary management">
                                <img src="../../assets/img/Gerenciamento.svg" alt="" class="management">
                                Gerenciamento
                            </button>
                        </div>
                    </li>
                </ul>
            </div>
            
        </div>
        <div class="bottom">
            <hr class="hr">
            <div class="exists">
                <button class="btn btn-primary">
                    <img src="../../assets/img/Sair.svg" alt="">
                    Sair
                </button>
            </div>
        </div>
        
    </div>
</div>