.container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), #8B82B5;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-right: 1px solid #9EFFCA;
}

img.management{
    width: 22px;
    height: 24px;
    margin-left: 2px;
}

.row{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    height: 95.3%;
    box-sizing: border-box;

    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), #8B82B5;
    
    box-shadow: 16px 64px 64px -32px rgba(41, 15, 0, 0.56);
    backdrop-filter: blur(80px);
    border-radius: 28px;
}

hr.hr{
    width: 100%;
    height: 2px;
    background: radial-gradient(50% 50% at 50% 50%, #9EFFCA 44.79%, rgba(139, 130, 181, 0) 100%);
    opacity: 0.32;  
    border-top: 0;
}

.icon{
    width: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

img.img-icon{
    width: 54px;
}

.navbar{
    display: flex;
    justify-items: center;
    flex-direction: column;
    align-items: center;
}

.nav {
    display: flex;
    gap: 16px;
}

.container .row .top{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 24px 0;
}

// .btn.btn-primary {
//     display: flex;
//     align-items: center;
//     justify-items: space-between;
//     padding: 16px 8px;
//     gap: 8px;
//     isolation: isolate;

//     width: 171px;
//     height: 40px;

//     border-radius: 12px;
//     background: rgba(255, 255, 255, 0.01);
//     border-color: transparent;
//     transition: 0.4s;
//     font-weight: 500;
//     font-size: 13px;
// }

.btn.btn-dashboard {
    display: flex;
    align-items: center;
    justify-items: space-between;
    padding: 16px 8px;
    gap: 8px;
    isolation: isolate;

    width: 171px;
    height: 40px;

    border-radius: 12px;
    background: rgba(255, 255, 255, 0.01);
    color: var(--color-4);
    border-color: transparent;
    transition: 0.4s;
    font-weight: 400;
    font-size: 13px;
}

.btn.btn-management {
    display: flex;
    align-items: center;
    justify-items: space-between;
    padding: 16px 8px;
    gap: 8px;
    isolation: isolate;

    width: 171px;
    height: 40px;

    border-radius: 12px;
    background: rgba(255, 255, 255, 0.01);
    color: var(--color-4);
    border-color: transparent;
    transition: 0.4s;
    font-weight: 400;
    font-size: 13px;
}

.btn:hover{
    border: 1.3px #FFF solid;
    border-color: #9EFFCA rgba(139, 130, 181, 0.4) rgba(139, 130, 181, 0.4) #9EFFCA;
    color: var(--color-2);
    .active{
        opacity: 1;
    }
    .desactive{
        opacity: 0;
    }
}

.btn:disabled{
    border: 1.3px #FFF solid;
    border-color: #9EFFCA rgba(139, 130, 181, 0.4) rgba(139, 130, 181, 0.4) #9EFFCA;
    opacity: 1;
    background-color: #60837b;
}

.btn.selected {
    border: 1.3px #FFF solid;
    border-color: #9EFFCA rgba(139, 130, 181, 0.4) rgba(139, 130, 181, 0.4) #9EFFCA;
    background: #60837b;
}

.img-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.exists{
    justify-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px 40px 24px 40px;
}

.exists .btn.btn-exit{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 11px 24px 11px 20px;
    gap: 6px;

    width: 151px;
    height: 40px;

    background: rgba(255, 255, 255, 0.03);
    border-radius: 12px;
    color: #FFF;

    font-weight: 400;
    font-size: 13px;
    transition: 0.4s;
}

.exists .btn.btn-exit:hover{
    color: #9EFFCA;
}

.exists .btn p{
    width: 50vw;
    height: 16px;
    font-weight: 500px;
    font-size: 13px;
    line-height: 130%;
}

.active{
    position: absolute;
    opacity: 0;
}

.exit_active{
    left: 72px;
}