<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
  

  <div class="modal-content">

    <div class="h-right">

      <button class="close-btn" id='close-btn' (click)="closeModal()"></button>
      
  </div>
  
    <div class="modal-header">
      

      <div class="h-left">

        <h1 class="title" id="staticBackdropLabel">Filtros</h1>

      </div>


    </div>

    <div class="modal-body">

      <form>

        <div class="first-line">

          <div class="class">

            <p class="title">Curso</p>
            <input class="field" type="checkbox" id="dropdown" class="dropdown-checkbox">
            <label class="fieldlabel" for="dropdown" id="dropdown-btn">
              <p>{{inputValue_course}}</p>
              <img class="arrow" src="../../assets/img/dropdown.svg" alt="">
            </label>
            <div class="dropdown-content">
              <app-course (checkboxChange)="atualizarInput_course($event)"></app-course>
            </div>
          
          </div>

        </div>

        <div class="second-line">

        <div class="class">

          <p class="title">Ano Formatura</p>
          <input class="field2" type="checkbox" id="dropdown2" class="dropdown-checkbox2">
          <label class="fieldlabel2" for="dropdown2" id="dropdown-btn2">
            <p>{{inputValue_year}}</p>
            <img class="arrow" src="../../assets/img/dropdown.svg" alt="">
          </label>
          <div class="dropdown-content2">
            <app-year (checkboxChange)="atualizarInput_year($event)"></app-year>
          </div>
        
        </div>

        <div class="modal-footer">

          <button type="button" class="add">Filtrar</button>

        </div>

    </div>