<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">

    <div class="modal-content">

        <div class="modal-header">

            <div class="h-left">

                <h1 class="title" id="staticBackdropLabel">Experiência Profissional</h1>

            </div>
        
        </div>

        <div class="modal-body">

            <form>

                <div class="first-line">

                    <div class="company">

                        <p class="title">Nome da Empresa</p>
                        <input class="field" type="text" placeholder="-" value="">

                    </div>

                    <div class="class">

                        <p class="title">Categoria</p>
                        <input class="field" type="checkbox" id="dropdown" class="dropdown-checkbox">
                        <label for="dropdown" id="dropdown-btn"><img class="arrow" src="../../assets/img/dropdown.svg" alt=""></label>
                        <div class="dropdown-content">
                          <app-company-category></app-company-category>
                        </div>
                        
                    </div>

                </div>
                
                <div class="second-line">
                    
                    <div class="profession">

                        <p class="title">Profissão/Função</p>
                        <input class="field" type="text" placeholder="Programador" value="">
                    </div>
                    
                </div>

                <div class="third-line">
                    
                    <div class="country">

                        <p class="title">País</p>
                        <input class="field3" type="text" placeholder="Brasil" value="">
                    </div>

                    <div class="state">

                        <p class="title">Estado</p>
                        <input class="field3" type="text" placeholder="São Paulo" value="">

                    </div>

                    <div class="city">

                        <p class="title">Cidade</p>
                        <input class="field3" type="text" placeholder="Pompeia" value="">

                    </div>
                    
                </div>

                <div class="fourth-line">
                    
                    <div class="number">

                        <p class="title">Período de</p>
                        <input class="field" type="text" placeholder="..." value="">
                    </div>

                    <div class="date">

                        <p class="title">Até</p>
                        <input class="field" type="text" placeholder="..." value="">

                    </div>
                    
                </div>

            </form>
            
        </div>

        <div class="modal-footer">

                <button type="button" class="cancel" data-bs-dismiss="modal">Cancelar</button>
        
                <button type="button" class="add">Adicionar</button>
        
        </div>

    </div>

</div>
