<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">

    <div class="modal-content">
        <div class="h-right">

            <button class="close-btn" id='close-btn' (click)="closeModal()"></button>
            
        </div>

        <div class="modal-body">

            <div class="user">

                <img src="../../assets/img/Profile.svg" alt="">
                
                <p>{{infoperson.user_name}}</p>
            
            </div>

            <div class="line">

                <img src="../../assets/img/Linha1.svg" alt="">

            </div>

            <div class="social-medias">

                <button class="linkedin" id="linkedin" (click)="Linkedin()"><img src="../../assets/img/Linkedin.svg" alt=""></button>

                <button class="instagram" id="instagram" (click)="Instagram()"><img src="../../assets/img/Instagram.svg" alt=""></button>

                <button class="lattes" id="lattes" (click)="Lattes()"><img src="../../assets/img/Lattes.svg" alt=""></button>

                <button class="facebook" id="facebook" (click)="Facebook()"><img src="../../assets/img/Facebook.svg" alt=""></button>

            </div>

        </div>
            
    </div>

</div>