<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">

    <div class="modal-content">

        <div class="modal-body">

            <div class="user">

                <img src="../../assets/img/Profile.svg" alt="">
                
                <p>Daniel Matunoshita</p>
            
            </div>

            <div class="line">

                <img src="../../assets/img/Linha1.svg" alt="">

            </div>

            <div class="social-medias">

                <button class="linkedin" id="linkedin"><img src="../../assets/img/Linkedin.svg" alt=""></button>

                <button class="instagram" id="instagram"><img src="../../assets/img/Instagram.svg" alt=""></button>

                <button class="lattes" id="lattes"><img src="../../assets/img/Lattes.svg" alt=""></button>

                <button class="facebook" id="facebook"><img src="../../assets/img/Facebook.svg" alt=""></button>

            </div>

        </div>
            
    </div>

</div>