<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">

        <div class="modal-header">

            <div class="h-left">

                <button type="submit">
                    <img src="../../assets/img/Edit-profile.svg" alt="">
                </button>

                <h1 class="modal-title" id="staticBackdropLabel">Editar perfil</h1>

            </div>
        
        </div>

        <div class="modal-body">

            <h5>Dados pessoais</h5>

            <form>

                <div class="first-one-line">
                    
                    <div class="name">

                        <p class="title">Nome</p>
                        <input class="field" type="name" placeholder="{{infoperson.user_name}}" [(ngModel)]="user_name" name="user_name">

                    </div>

                </div>

                <div class="first-line">
                    
                    <div class="email">

                    <p class="title">E-mail</p>
                    <input class="field" type="email" placeholder="{{infoperson.user_email}}" [(ngModel)]="user_email" name="user_email">

                    </div>

                    <div class="password">

                        <p class="title">Senha</p>
                        <input class="field" type="password" placeholder="************" [(ngModel)]="user_senha" name="user_senha">

                    </div>

                </div>
                
                <div class="second-line">
                    
                    <div class="second-email">

                    <p class="title">2° E-mail</p>
                    <input class="field" type="email" placeholder="{{infoperson.email2}}" [(ngModel)]="email2" name="email2">

                    </div>

                    <div class="born">

                        <p class="title">Data de nascimento</p>
                        <input class="field date" type="date" placeholder="{{ getYearFromDate(infoperson.data_nasc)}}" [(ngModel)]="data_nasc" name="data_nasc">

                    </div>
                    
                </div>

                <div class="third-line">
                    <div class="class">
                    
                        <p class="title">Turma</p>
                        <input type="checkbox" id="dropdown4" class="dropdown-checkbox4">
                        <label class="fieldlabel4" for="dropdown4" id="dropdown-btn4">                        
                            <p>{{inputValue}}</p>
                            <div class="field_info">
                                <img class="arrow" src="../../assets/img/dropdown.svg" alt="" (click)="toggleDropdown4()">    
                                <div class="dropdown-content4" *ngIf="isDropdownVisible4" [ngStyle]="{ 'top.px': dropdownPosition.top, 'left.px': dropdownPosition.left }">
                                    <app-class-number (checkboxChange)="atualizarInput($event)"></app-class-number>
                                </div>     
                            </div>            
                        </label>
                             
                        
                        
                    </div>
                    
                    
                    <div class="course">
                    
                        <p class="title">Curso</p>
                        <input type="checkbox" id="dropdown5" class="dropdown-checkbox5">
                        <label class="fieldlabel5" for="dropdown5" id="dropdown-btn5">
                            <p>{{inputValue_course}}</p>
                            <div class="field_info">
                                <img class="arrow" src="../../assets/img/dropdown.svg" alt="" (click)="toggleDropdown5()">      
                                <div class="dropdown-content5" *ngIf="isDropdownVisible5" [ngStyle]="{ 'top.px': dropdownPosition.top, 'left.px': dropdownPosition.left }">
                                    <app-course (checkboxChange)="atualizarInput_course($event)"></app-course>
                                </div>          
                            </div>
                        </label>
                        
                        
                    
                    </div>
                </div>   

                <div class="fourth-line">
                    
                    <div class="cell">

                        <p class="title">Celular</p>
                        <input class="field" type="tel" placeholder="{{infoperson.user_telefone}}" [(ngModel)]="user_telefone" name="user_telefone">

                    </div>

                    <div class="gender">

                        <p class="title">Sexo</p>
                        <input type="checkbox"  id="dropdown6" class="dropdown-checkbox6">
                        <label class="fieldlabel6" for="dropdown6" id="dropdown-btn6">
                                <p>{{inputValue_gender}}</p>
                                <div class="field_info">
                                    <img class="arrow" src="../../assets/img/dropdown.svg" alt="" (click)="toggleDropdown3()">
                                    <div class="dropdown-content6" *ngIf="isDropdownVisible3" [ngStyle]="{ 'top.px': dropdownPosition.top, 'left.px': dropdownPosition.left }">
                                        <app-gender (checkboxChange)="atualizarInput_gender($event)"></app-gender>
                                    </div>
                                </div>
                    </label>
                        
                        
                    </div>
                    
                </div>

                <div class="fifth-line">
                    
                    <div class="city">

                        <p class="title">Cidade</p>
                        <input class="field" type="text" placeholder="{{infoperson.cdd_local_trabalho}}" [(ngModel)]="cdd_local_trabalho" name="cdd_local_trabalho">
                        

                    </div>

                    <div class="state">

                        <p class="title">Estado</p>
                        <input class="field" type="text" placeholder="{{infoperson.est_local_trabalho}}" [(ngModel)]="est_local_trabalho" name="est_local_trabalho">

                    </div>
                    
                </div>

                <div class="sixth-line">
                    
                    <div class="adress">

                        <p class="title">Endereço</p>
                        <input class="field" type="text" placeholder="{{infoperson.end_local_trabalho}}" [(ngModel)]="end_local_trabalho" name="end_local_trabalho">

                    </div>
                    
                </div>

            </form>
            
            

            <div class="header-table">

                <h5>Formação Acadêmica</h5>

                <button (click)="abrirModal2()">Adicionar</button>

            </div>

            <table class="table">

                <thead class="table-light">

                    <tr>
                        <th scope="col">Formação</th>
                        <th scope="col">Instituição</th>
                        <th scope="col">Curso</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Período</th>
                        <th scope="col"></th>
                    </tr>

                </thead>

                <tbody class="t-body">

                    <tr>
                        <td>{{infoperson.formacao}}</td>
                        <td>{{infoperson.localformacao}}</td>
                        <td>Big Data no Agronegócio</td>
                        <td>Pública</td>
                        <td>{{infoperson.anoformacao}}</td>
                        <td><button (click)="abrirModal4()"><img src="../../assets/img/Delete.svg" alt=""></button></td>
                    </tr>

                </tbody>

            </table>

            <div class="header-table">

                <h5>Experiência Profissional</h5>

                <button (click)="abrirModal3()">Adicionar</button>

            </div>

            <table class="table">

                <thead class="table-light">

                    <tr>
                        <th scope="col">Empresa</th>
                        <th scope="col">Profissão/Função</th>
                        <th scope="col">Período</th>
                        <th scope="col"></th>
                    </tr>

                </thead>

                <tbody class="t-body">

                    <tr>
                        <td>Jacto</td>
                        <td>Engenheiro</td>
                        <td>2023 - 2025</td>
                        <td><button (click)="abrirModal4()"><img src="../../assets/img/Delete.svg" alt=""></button></td>
                    </tr>

                    <tr>
                        <td>Orion</td>
                        <td>Desenvolvedor</td>
                        <td>2023 - 2025</td>
                        <td><button (click)="abrirModal4()"><img src="../../assets/img/Delete.svg" alt=""></button></td>
                    </tr>

                </tbody>

            </table>

            <div class="social-medias">
                
                <h5>Redes sociais</h5>

                <div class="linkedin">

                    <div class="info">

                        <p class="title">LinkedIn</p>
                        <input class="field" type="text" placeholder="{{infoperson.linkedin}}" [(ngModel)]="linkedin" name="linkedin">

                    </div>

                </div>

                <div class="instagram">

                    <div class="info">

                        <p class="title">Instagram</p>
                        <input class="field" type="text" placeholder="{{infoperson.instagram}}" [(ngModel)]="instagram" name="instagram">

                    </div>

                </div>

                <div class="lattes">

                    <div class="info">

                        <p class="title">Curriculum Lattes</p>
                        <input class="field" type="text" placeholder="{{infoperson.lattes}}" [(ngModel)]="lattes" name="lattes">

                    </div>

                </div>

                <div class="facebook">

                    <div class="info">

                        <p class="title">Facebook</p>
                        <input class="field" type="text" placeholder="{{infoperson.facebook}}" [(ngModel)]="facebook" name="facebook">

                    </div>

                </div>

            </div>

        </div>

        <div class="modal-footer">

                <button type="button" class="close" data-bs-dismiss="modal">Cancelar</button>
        
                <button type="button" class="accept" (click)="abrirModal()">Salvar</button>
        </div>
    </div>
</div>