<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">

    <div class="modal-content">

        <div class="modal-header">

            <div class="h-left">

                <h1 class="modal-title fs-5" id="staticBackdropLabel">Editar Perfil</h1>

            </div>
        
        </div>

        <div class="modal-body">

            <h5>Dados pessoais</h5>

            <form>

                <div class="first-one-line">
                    
                    <div class="name">

                        <p class="title">Nome</p>
                        <input class="field" type="name" placeholder="Daniel" value="">

                    </div>

                </div>

                <div class="first-line">
                    
                    <div class="email">

                    <p class="title">E-mail</p>
                    <input class="field" type="email" placeholder="daniel@gmail.com" value="">

                    </div>

                    <div class="password">

                        <p class="title">Senha</p>
                        <input class="field" type="password" placeholder="************" value="">

                    </div>

                </div>
                
                <div class="second-line">
                    
                    <div class="second-email">

                    <p class="title">2° E-mail</p>
                    <input class="field" type="email" placeholder="daniel@gmail.com" value="">

                    </div>

                    <div class="born">

                        <p class="title">Data de nascimento</p>
                        <input class="field" type="text" placeholder="10/05/2023" value="">

                    </div>
                    
                </div>

                <div class="third-line">
                    
                    <div class="class">

                        <p class="title">Turma</p>
                        <input class="field" type="text" placeholder="13ª Turma" value="">

                    </div>

                    <div class="course">

                        <p class="title">Curso</p>
                        <input class="field" type="text" placeholder="Big Data no Agronegócio" value="">

                    </div>
                    
                </div>

                <div class="fourth-line">
                    
                    <div class="cell">

                        <p class="title">Celular</p>
                        <input class="field" type="text" placeholder="(14) 99999-0000" value="">

                    </div>

                    <div class="gender">

                        <p class="title">Sexo</p>
                        <input class="field" type="text" placeholder="Masculino" value="">
                        <app-gender></app-gender>
                    </div>
                    
                </div>

                <div class="fifth-line">
                    
                    <div class="city">

                        <p class="title">Cidade</p>
                        <input class="field" type="text" placeholder="Pompéia" value="">
                        

                    </div>

                    <div class="state">

                        <p class="title">Estado</p>
                        <input class="field" type="text" placeholder="São Paulo" value="">

                    </div>
                    
                </div>

                <div class="sixth-line">
                    
                    <div class="adress">

                        <p class="title">Endereço</p>
                        <input class="field" type="text" placeholder="Rua tal do bairro tal aleatório" value="">

                    </div>
                    
                </div>

            </form>
            
            

            <div class="header-table">

                <h5>Formação Acadêmica</h5>

            </div>

            <table class="table">

                <thead class="table-light">

                    <tr>
                        <th scope="col">Formação</th>
                        <th scope="col">Instituição</th>
                        <th scope="col">Curso</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Período</th>
                        <th scope="col"></th>
                    </tr>

                </thead>

                <tbody class="t-body">

                    <tr>
                        <td>Ensino Técnico</td>
                        <td>Fatec</td>
                        <td>Big Data no Agronegócio</td>
                        <td>Pública</td>
                        <td>2023 - 2025</td>
                        <td><button><img src="../../assets/img/Delete.svg" alt=""></button></td>
                    </tr>

                    <tr>
                        <td>Ensino Técnico</td>
                        <td>Fatec</td>
                        <td>MAP</td>
                        <td>Pública</td>
                        <td>2023 - 2025</td>
                        <td><button><img src="../../assets/img/Delete.svg" alt=""></button></td>
                    </tr>

                </tbody>

            </table>

            <div class="header-table">

                <h5>Experiência Profissional</h5>

            </div>

            <table class="table">

                <thead class="table-light">

                    <tr>
                        <th scope="col">Empresa</th>
                        <th scope="col">Profissão/Função</th>
                        <th scope="col">Período</th>
                        <th scope="col"></th>
                    </tr>

                </thead>

                <tbody class="t-body">

                    <tr>
                        <td>Jacto</td>
                        <td>Engenheiro</td>
                        <td>2023 - 2025</td>
                        <td><button><img src="../../assets/img/Delete.svg" alt=""></button></td>
                    </tr>

                    <tr>
                        <td>Orion</td>
                        <td>Desenvolvedor</td>
                        <td>2023 - 2025</td>
                        <td><button><img src="../../assets/img/Delete.svg" alt=""></button></td>
                    </tr>

                </tbody>

            </table>

            <div class="social-medias">
                
                <h5>Redes sociais</h5>

                <div class="linkedin">

                    <div class="info">

                        <p class="title">LinkedIn</p>
                        <input class="field" type="text" placeholder="www.linkedin.com/daniel" value="">

                    </div>

                </div>

                <div class="instagram">

                    <div class="info">

                        <p class="title">Instagram</p>
                        <input class="field" type="text" placeholder="www.instagram.com/daniel" value="">

                    </div>

                </div>

                <div class="lattes">

                    <div class="info">

                        <p class="title">Curriculum Lattes</p>
                        <input class="field" type="text" placeholder="www.lattes.cnpq.br/daniel" value="">

                    </div>

                </div>

                <div class="facebook">

                    <div class="info">

                        <p class="title">Facebook</p>
                        <input class="field" type="text" placeholder="www.facebook.com/daniel" value="">

                    </div>

                </div>

            </div>

        </div>

        <div class="modal-footer">

                <button type="button" class="close" data-bs-dismiss="modal">Cancelar</button>
        
                <button type="button" class="accept" (click)="abrirModal()">Salvar</button>
        
        </div>

    </div>

</div>