<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
  
    <div class="modal-content">

        <div class="modal-body">

            <div class="text">
                    
                <p class="text-cookies">Tem certeza que deseja sair da plataforma?</p>
                
            </div>

            <div class="button">

                <button class="cancel" id="cancel">Cancelar</button>

                <button class="exit" id="exit" (click)="fecharModal()" routerLink="/login">Sair</button>

            </div>

        </div>
                
    </div>

</div>