<div class="bg">

    <div class="container">

        <div class="header">

            <div class="h-left">
                <img src="../../../assets/img/logoG.svg" alt="">
            </div> 

            <div class="h-right">
                <p>Ainda não possui conta? <button routerLink="/register">Cadastre-se</button><button routerLink="/login-adm">Entre como ADM</button></p>
            </div>

        </div>

        <div class="body">

            <div class="b-left">

                <h1>Plataforma de egressos Graduway - Fatec Alumni.</h1>

                <img class="logo-fatec" src="../../../assets/img/Fatec.svg" alt="">

            </div>

            <div class="b-right">

                <div class="content">

                    <div class="title">

                        <h5>Bem vindo(a) ao GraduWay.</h5>

                    </div>

                    <div class="forms">

                        <div>

                            <div class="input">
                                <label class="email">E-mail</label><br>
                                <input [(ngModel)]="email" type="email" class="email" id="email" aria-describedby="emailHelp"
                                    placeholder="Digite seu e-mail">
                            </div>

                            <br>

                            <div class="input">
                                <label class="password">Senha</label><br>
                                <input [(ngModel)]="senha" type="password" class="password" id="password" name="password"
                                    placeholder="Digite sua senha">
                            </div>

                            <br>

                            <div class="horizontal">

                                <div class="remember">

                                    <label class="mcui-checkbox">
                                        <input type="checkbox">
                                        <div class="check-tipo">
                                            <svg class="mcui-check" viewBox="-2 -2 35 35" aria-hidden="true">
                                                <polyline points="7.57 15.87 12.62 21.07 23.43 9.93" />
                                            </svg>
                                        </div> 
                                        <p class="remember-me" style="margin-left: 8px;" >Lembre-me</p>
                                    </label>


                                </div>

                                <div class="forget">
                                    <button (click)="abrirModal2()">Esqueci a senha</button>
                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="button">

                        <button (click)="login()" type="submit" class="btn-btn-primary" >Entrar</button> 
                       

                    </div>

                </div>

            </div>

        </div>

        <div class="footer">

            <p>Ao criar uma conta, você concorda com os <button (click)="abrirModal()">Termos de Privacidade.</button>
            </p>

        </div>

    </div>

</div>