<div class="bg">

    <div class="container">

        <div class="header">

            <div class="h-left">
                <img src="../../../assets/img/G.svg" alt="">
            </div> 

            <div class="h-right">
                <p>Ainda não possui conta? <button routerLink="/register">Cadastre-se</button></p>
            </div>
            
        </div>

        <div class="body">

            <div class="b-left">

                <h1>Plataforma de egressos Graduway - Alumni Fatec.</h1>

            </div>

            <div class="b-right">
                
                <div class="content">

                    <div class="title">

                       <h5>Bem vindo(a) ao GraduWay.</h5>

                    </div>

                    <div class="forms">

                        <form>

                            <div class="input">
                                <label class="email">E-mail</label><br>
                                <input type="email" class="email" id="email" aria-describedby="emailHelp" placeholder="Digite seu e-mail">
                            </div>

                            <br>

                            <div class="input">
                                <label class="password">Senha</label><br>
                                <input type="password" class="password" id="password" name="password" placeholder="Digite sua senha">
                            </div>

                            <br>

                            <div class="horizontal">

                                <div class="remember">
                                    <input class="checkbox" type="checkbox" value="" id="checkbox" checked>
                                    <label class="checkbox-text" for="checkbox">Lembre-me</label>


                                    
                                </div>

                                <div class="forget">
                                    <button>Esqueci a senha</button>
                                </div>
                                
                            </div>

                        </form>

                    </div>

                    <div class="button">

                        <button type="submit" class="btn-btn-primary" routerLink="/dashboard">Entrar</button>

                    </div>

                </div>
                
            </div>
            
        </div>

        <div class="footer">

            <p>Ao criar uma conta, você concorda com os <button (click)="abrirModal()">Termos de Privacidade.</button></p>

        </div>

    </div>

</div>
