<!-- <div class="flex-box">
    <div class="left">
        <app-menu></app-menu>
    </div>
    <div class="right">
        <app-header></app-header>

        <div class="container">
            <app-search></app-search>
            <app-cards></app-cards>  
       </div>
    </div>
</div> -->
<router-outlet></router-outlet>
<!-- <app-edit-classroom></app-edit-classroom> -->

<!-- <app-student></app-student> -->
<!-- <app-card-student></app-card-student> -->

<!-- <app-management></app-management> -->
<!-- <app-body-management></app-body-management> -->

<!-- <app-search></app-search> -->
<!-- <app-cards></app-cards> -->
<!-- <app-card-management></app-card-management> -->

<!-- <app-dashboard></app-dashboard> -->

<!-- <app-edit-classroom></app-edit-classroom> -->

<!-- <app-card-edit-student></app-card-edit-student> -->