<div class="container">

    <div class="header">

        <div class="h-left">
            <img src="../../../assets/img/G.svg" alt="">
        </div> 

        <div class="h-right">
            <p>Já possui conta? <button>Entre</button></p>
        </div>
        
    </div>

    <div class="body">

        <div class="b-left">
            <h1>Plataforma de egressos Graduway - Alumni Fatec.</h1>
        </div>

        <div class="b-right">
            
            <div class="content">

                <h5>Bem vindo(a) ao GraduWay.</h5>

                <p>Para sabermos se você foi um aluno da Fatec, preencha os campos com seu nome completo e com seu e-mail. Se algo der errado, verifique se o seu nome ou e-mail estão corretos. Caso o erro continue, entre em contato com o ADM: (14) 99999-9999.</p>

                <div class="forms">

                    <form>

                        <div class="input">
                            <label class="name">Nome completo</label><br>
                            <input type="text" class="name" id="name" name="name" placeholder="Digite seu nome completo">
                        </div>

                        <br>

                        <div class="input">
                            <label class="email">E-mail</label><br>
                            <input type="email" class="email" id="email" aria-describedby="emailHelp" placeholder="Digite seu e-mail">
                        </div>

                    </form>

                </div>

                <div class="button">

                    <button type="submit" class="btn-btn-primary">Continuar</button>

                </div>

                <div class="progress">

                    <div class="progress1"></div>
                    <div class="progress2"></div>
                    <div class="progress3"></div>

                </div>

            </div>
            
        </div>
        
    </div>

    <div class="footer">
        <p>Ao criar uma conta, você concorda com os <button>Termos de Privacidade.</button></p>
    </div>

</div>