<div class="bg">

    <div class="container">

        <div class="header">

            <div class="h-left">
                <img src="../../../assets/img/G.svg" alt="">
            </div> 

            <div class="h-right">
                <p>Já possui conta? <button routerLink="/login">Entre</button></p>
            </div>
            
        </div>

        <div class="body">

            <div class="b-left">

                <h1>Plataforma de egressos Graduway - Alumni Fatec.</h1>

            </div>

            <div class="b-right">
                
                <div class="content">

                    <div class="title">

                       <h5>Bem vindo(a) ao GraduWay.</h5>

                    </div>

                    <div class="forms">

                        <form>

                            <div class="input">
                                <label class="name">Nome completo</label><br>
                                <input type="text" class="name" id="name" name="name" placeholder="Digite seu nome completo">
                            </div>

                            <br>

                            <div class="input">
                                <label class="email">E-mail</label><br>
                                <input type="email" class="email" id="email" aria-describedby="emailHelp" placeholder="Digite seu e-mail">
                            </div>

                        </form>

                    </div>

                    <div class="button">

                        <button type="submit" class="btn-btn-primary" routerLink="/register2">Continuar</button>

                    </div>

                    <div class="progress">

                        <div class="progress1"></div>
                        <div class="progress2"></div>
                        <div class="progress3"></div>

                    </div>

                </div>
                
            </div>
            
        </div>

        <div class="footer">

            <p>Ao criar uma conta, você concorda com os <button (click)="abrirModal()">Termos de Privacidade.</button></p>

        </div>

    </div>

</div>

