
<div class="card" id="card">
    <div class="card-body">
        <div class="top">
            <div class="left">
                <h1 class="card-title">Turma 13º </h1>
                <h2 class="card-subtitle">Big Data no Agronegócio</h2>
            </div>
            <div class="right">
                <!-- <input type="checkbox" name="" id="" class="checkbox"> -->
                    <!-- .squaredThree -->
                    <div class="checkbox">
                    <input type="checkbox" class="checkbox-button" value="None" id="checkbox" name="check" checked />
                    <label for="checkbox"></label>
                    </div>
                    <!-- end .squaredThree -->
            </div>
        </div>
        <hr>
        <div class="date">
            <h3 class="sub">Data de Formatura</h3>
            <h4 class="description">2021</h4>
        </div>
        <div class="student">
            <h3 class="sub">Alunos cadastrados</h3>
            <h4 class="description">37</h4>
        </div>
        <div class="curse">
            <img src="../../../assets/img/Big Data.svg" alt="">
        </div>
    </div>
</div>