<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">

    <div class="modal-content">
        <div class="h-right">

            <button class="close-btn" id='close-btn' (click)="closeModal()"></button>
            
        </div>

        <div class="modal-body">

            <div class="text">
                
                <h3 class="title">Enviar E-mail</h3>

                <p *ngIf="isValue === true">{{ checkboxCountClass }} turmas selecionados(as)</p>
                <p *ngIf="isValue === false">{{ checkboxCountClass }} usuários selecionados(as)</p>
            </div>

            <div class="button">

                <button class="cancel" id="cancel" (click)="closeModal()">Cancelar</button>

                <a class="send" id="send" (click)="enviarEmail()" href="mailto:{{email}}">Enviar</a>

            </div>

        </div>
            
    </div>

</div>