<div class="bg">

    <div class="container">

        <div class="header">

            <div class="h-left">
                <img src="../../../assets/img/G.svg" alt="">
            </div> 

            <div class="h-right">
                <p>Já possui conta? <button>Entre</button></p>
            </div>
            
        </div>

        <div class="body">

            <div class="b-left">

                <h1>Plataforma de egressos Graduway - Alumni Fatec.</h1>

            </div>

            <div class="b-right">
                
                <div class="content">

                    <div class="title">

                       <h5>E-mail confirmado!</h5>

                    </div>

                    <div class="forms">

                        <form>

                            <div class="input">
                                <label class="password">Senha</label><br>
                                <input type="password" class="password" id="password" name="password" placeholder="Digite sua senha">
                            </div>

                            <br>

                            <div class="input">
                                <label class="password">Confirmar senha</label><br>
                                <input type="password" class="password" id="password" name="password" placeholder="Confirme sua senha">
                            </div>

                            <br>

                            <div class="terms">
                                <input class="checkbox" type="checkbox" value="" id="checkbox" checked>
                                <label class="checkbox-text" for="checkbox">Eu concordo com os <button>Termos de Privacidade.</button></label>
                            </div>

                        </form>

                    </div>

                    <div class="button">

                        <button type="submit" class="btn-btn-primary" routerLink="/login">Finalizar</button>

                    </div>

                    <div class="progress">

                        <div class="progress1"></div>
                        <div class="progress2"></div>
                        <div class="progress3"></div>

                    </div>

                </div>
                
            </div>
            
        </div>

        <div class="footer">

            <p>Ao criar uma conta, você concorda com os <button>Termos de Privacidade.</button></p>

        </div>

    </div>

</div>