<div class="bg">

    <div class="container">

        <div class="header">

            <div class="h-left">
                <img src="../../../assets/img/logoG.svg" alt="">
            </div> 

            <div class="h-right">
                <p>Já possui conta? <button routerLink="/login">Entre</button></p>
            </div>
            
        </div>

        <div class="body">

            <div class="b-left">

                <h1>Plataforma de egressos Graduway - Fatec Alumni.</h1>

                <img class="logo-fatec" src="../../../assets/img/Fatec.svg" alt="">

            </div>

            <div class="b-right">
                
                <div class="content">

                    <div class="title">

                       <h5>E-mail confirmado!</h5>

                    </div>

                    <div class="forms">

                        <form>

                            <div class="input">
                                <label class="password">Senha</label><br>
                                <input type="password" class="password" id="password" name="password" placeholder="Digite sua senha">
                            </div>

                            <br>

                            <div class="input">
                                <label class="password">Confirmar senha</label><br>
                                <input type="password" class="password" id="password" name="password" placeholder="Confirme sua senha">
                            </div>

                            <br>

                            <div class="terms" >
                            <label class="mcui-checkbox" style="display: flex;">
                                <input type="checkbox">
                                <div class="check-tipo">
                                    <svg class="mcui-check" viewBox="-2 -2 35 35" aria-hidden="true">
                                        <polyline points="7.57 15.87 12.62 21.07 23.43 9.93" />
                                    </svg>
                                </div> 
                                <p class="agree" style="margin-left: 8px; margin-bottom: 0px;">Eu concordo com os</p><button (click)="abrirModal()" style="margin-left: 6px;">Termos de Privacidade.</button>
                            </label>
                        </div>
                        </form>

                    </div>

                    <div class="button">

                        <button type="submit" class="btn-btn-primary" routerLink="/login">Finalizar</button>

                    </div>

                    <div class="progress">

                        <div class="progress1"></div>
                        <div class="progress2"></div>
                        <div class="progress3"></div>

                    </div>

                </div>
                
            </div>
            
        </div>

    </div>

</div>