<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" #deleteModal>

    <div class="modal-content">
        <div class="h-right">

            <button class="close-btn" id='close-btn' (click)="closeModal()"></button>
            
        </div>

        <div class="modal-body">

            <div class="text">
                
                <p class="text-cookies">Tem certeza que deseja excluir Turma 13ª?</p>
            
            </div>

            <img src="../../assets/img/Delete.svg" alt="">

            <div class="button">

                <button class="cancel" id="cancel" (click)="closeModal()">Cancelar</button>

                <button class="delete" id="delete">Excluir</button>

            </div>

        </div>
            
    </div>

</div>