<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">

    <div class="modal-content">

        <div class="modal-header">

            <div class="h-left">

                <h1 class="title" id="staticBackdropLabel">Formação Acadêmica</h1>

            </div>
        
        </div>

        <div class="modal-body">

            <!-- <h5>Nível de Escolaridade</h5> -->

            <form>

                <div class="first-line">

                    <div class="course">

                        <p class="title">Nível de Escolaridade</p>
                        <input class="field" type="text" placeholder="Graduação" value="">
                        <button><img src="../../assets/img/dropdown.svg" alt=""></button>

                    </div>

                    <div class="tipodeescola">
                        <p class="title">Tipo</p>
                        <div class="checkbox">
                        
                        <label class="mcui-checkbox">
                        <input type="checkbox">
                        <div class="check-tipo">
                          <svg class="mcui-check" viewBox="-2 -2 35 35" aria-hidden="true">
                            <polyline points="7.57 15.87 12.62 21.07 23.43 9.93" />
                          </svg>
                          <p class="subtitle">Pública</p>
                        </div> 
                    </label>
                 
                        <label class="mcui-checkbox">
                        <input type="checkbox">
                        <div class="check-tipo">
                          <svg class="mcui-check" viewBox="-2 -2 35 35" aria-hidden="true">
                            <polyline points="7.57 15.87 12.62 21.07 23.43 9.93" />
                          </svg>
                          <p class="subtitle">Privada</p>
                        </div> 
                    </label>
                    </div>
                </div>
                </div>
                
                <div class="second-line">
                    
                    <div class="number">

                        <p class="title">Nome da Instituição</p>
                        <input class="field" type="text" placeholder="Fatec Pompeia Shunji Nishimura" value="">
                    </div>

                    <div class="date">

                        <p class="title">Curso</p>
                        <input class="field" type="text" placeholder="Big Data no Agronegócio" value="">

                    </div>
                    
                </div>

                <div class="third-line">
                    
                    <div class="country">

                        <p class="title">País</p>
                        <input class="field3" type="text" placeholder="Brasil" value="">
                    </div>

                    <div class="state">

                        <p class="title">Estado</p>
                        <input class="field3" type="text" placeholder="São Paulo" value="">

                    </div>

                    <div class="city">

                        <p class="title-city">Cidade</p>
                        <input class="field3" type="text" placeholder="Pompeia" value="">

                    </div>
                    
                </div>

                <div class="fourth-line">
                    
                    <div class="number">

                        <p class="title">Período de</p>
                        <input class="field" type="text" placeholder="..." value="">
                    </div>

                    <div class="date">

                        <p class="title">Até</p>
                        <input class="field" type="text" placeholder="..." value="">

                    </div>
                    
                </div>

            </form>
            
        </div>

        

        <div class="modal-footer">

                <button type="button" class="cancel" data-bs-dismiss="modal">Cancelar</button>
        
                <button type="button" class="add">Adicionar</button>
        
        </div>

    </div>

</div>