<div class="container">
    <div class="top">
        <div class="left">
            <img src="../../assets/img/Big Data.svg" alt="" class="logo">
            <div class="title">
                <h1>Turma 13º</h1>
                <h2>Big Data no Agronegócio</h2>
            </div>
        </div>
        <div class="center">
            <div class="date">
                <h3>Data de formatura</h3>
                <h4>25/04/2023</h4>
            </div>
            <div class="student">
                <h3>Alunos Cadastrados</h3>
                <h4>20/37</h4>
            </div>
        </div>
        <div class="right">
            <button class="mensager" (click)="abrirModal2()">
                <img src="../../assets/img/Mensagem.svg" alt="" class="mensager-img">
                Enviar Mensagem
            </button>
            <button class="select" (click)="onCardClickAll()">
                {{ selectAll ? 'Deselecionar Todos' : 'Selecionar Todos' }}
            </button>
        </div>
    </div>
    <hr>
    <div class="bottom">
        <div class="cards" *ngFor="let i of InfoPerson" (click)="abrirModal()">
            <app-card-student [itens]="i"></app-card-student>
        </div>
    </div>
</div>