<div class="container">
    <div class="top">
        <div class="left">
            <img src="" alt="" class="logo">
            <div class="title">
                <h1>Turma 13º</h1>
                <h2>Big Data no Agronegócio</h2>
            </div>
        </div>
        <div class="center">
            <div class="date">
                <h3>Data de formatura</h3>
                <h4>25/04/2023</h4>
            </div>
            <div class="student">
                <h3>Alunos Cadastrados</h3>
                <h4>20/37</h4>
            </div>
        </div>
        <div class="right">
            <button class="mensager">
                <img src="img/mensager.png" alt="" class="mensager-img">
                Enviar Mensagem
            </button>
            <button class="select">
                Selecionar Todos
            </button>
        </div>
    </div>
    <hr>
    <div class="bottom">

    </div>
</div>