.body .b-right {
    background-color: var(--color-1);
    width: 540px;
    height: 490px;
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 28px;

    box-shadow: 10px 10px 64px rgba(41, 15, 0, 0.56);
    padding: 1px;
    background-image: linear-gradient(45deg, var(--color-1), var(--color-2), var(--color-1), var(--color-2));
}

.body .b-right .content {
    background-color: var(--color-1);
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    gap: 48px;

    width: 530px;
    height: 484px;

    padding: 0px 40px;

    border-radius: 25px;
}

.body .b-right .content .title h5 {
    width: 353px;
    height: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 20px;
    text-align: center;
    color: var(--color-4);
    margin-bottom: 16px;
}

.body .b-right .content .forms {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-4);
}

.body .b-right .content .forms .input input {
    width: 400px;
    height: 40px;

    border-radius: 0px 0px 12px 0px;
    border-bottom: 1px solid var(--color-2);
    border-top: 0;
    border-left: 0;
    border-right: 0;

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 8px;
    text-align: left;
    color: #FFFFFF;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 8px;
    margin-top: 30px;
    margin-bottom: 24px;
    
    background: var(--color-1);
}

.body .b-right .content .forms .input input:focus {
    outline: none;
    box-shadow: none;
    border-radius: 0px 0px 12px 0px;
    border-bottom: 1px solid var(--color-2);
    border-top: 0;
    border-left: 0;
    border-right: 0;
    background: var(--color-1);
    color: #FFFFFF;
}

.body .b-right .content .forms .terms label {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 112%;

    text-align: center;
    letter-spacing: -1px;

    color: var(--color-4);
}

.body .b-right .content .button .btn-btn-primary {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 160px;
    height: 40px;

    color: var(--color-4);

    background-color: #6B997F;
    
    border-radius: 12px;
    border: 0.5px #FFF solid;
    border-color: #9EFFCA rgba(139, 130, 181, 0.4) rgba(139, 130, 181, 0.4) #9EFFCA;
}

.body .b-right .content .button2 .btn-btn-primary {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 160px;
    height: 40px;

    color: var(--color-4);

    background: rgba(255, 255, 255, 0.03);
    
    border-radius: 12px;
    border: 0.5px #FFF solid;
    border-color: #9EFFCA rgba(139, 130, 181, 0.4) rgba(139, 130, 181, 0.4) #9EFFCA;
}

.buttons {
    display: flex;
    gap: 24px;
}

#close-btn {
    overflow: hidden;
    position: relative;
    border: none;
    // padding: 0;
    width: 2em; height: 2em;
    border-radius: 50%;
    background: transparent;
    color: #9EFFCA;
    font: inherit;
    text-indent: 100%;
    cursor: pointer;
    margin: 6px 0 0 450px;
    
    &:focus {
      outline: solid 0 transparent;
      border: 1px solid #9EFFCA;
    }
    
    &:hover {
      background: rgba(158, 255, 202, 0.2);
    }
    
    &:before, &:after {
      position: absolute;
      top: 15%; left: calc(50% - .0625em);
      width: .125em; height: 70%;
      border-radius: .125em;
      transform: rotate(45deg);
      background: currentcolor;
      content: ''
    }
    
    &:after { transform: rotate(-45deg); }
  }