
    <div class="container">

        <div class="body">

            <div class="b-right">
                
                <div class="content">

                    <div class="title">

                       <h5>Esqueceu a senha?</h5>

                    </div>

                    <div class="forms">

                        <form>

                            <div class="input">
                                <label class="email">Insira um e-mail válido para que seja enviado um link para redefinição de senha.</label><br>
                                <input type="email" class="email" id="email" aria-describedby="emailHelp" placeholder="Digite seu e-mail">
                            </div>

                        </form>

                    </div>
                    <div class="buttons">

                    <div class="button">

                        <button type="submit" class="btn-btn-primary">Enviar</button>

                    </div>
                    <div class="button2">

                        <button type="submit" class="btn-btn-primary">Voltar para login</button>

                    </div>
                </div>
                </div>
                
            </div>
            
        </div>

    </div>

