<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
        <div class="modal-top">
            <div class="modal-left">
                <div class="modal-header">
                    <div class="h-left">
                        <h1 class="title" id="staticBackdropLabel">Adicionar turma</h1>
                    </div>
                </div>
                <div class="modal-body">
                    <h5>Dados da turma</h5>
                    <form>
                        <div class="first-line">
                            <div class="course">
                                <p class="title">Curso</p>
                                <input class="field" type="search" placeholder="Big Data no Agronegócio" value="">
                                <button><img src="../../assets/img/Arrow.svg" alt=""></button>
                            </div>
                            <div class="class">
                                <p class="title">Turma</p>
                                <input class="field" type="text" placeholder="13ª turma" value="">
                                <button><img src="../../assets/img/Arrow.svg" alt=""></button>
                            </div>
                        </div>
                        <div class="second-line">
                            <div class="number">
                                <p class="title">Quantidade de egressos</p>
                                <input class="field" type="text" placeholder="37" value="">
                            </div>
                            <div class="date">
                                <p class="title">Data de formatura</p>
                                <input class="field" type="text" placeholder="31/12/2023" value="">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-right">
                <div class="modal-footer-right-top">
                    <button type="button" class="delete" data-bs-dismiss="modal">Excluir</button>
                    <div class="modal-footer-buttons">
                        <button type="button" class="select" (click)="onCardClickAll()">Selecionar Todos</button>
                        <button type="button" class="import">Importar Alunos</button>
                    </div>
                </div>
                <div class="modal-footer-right-bottom">
                    <button type="button" class="cancel" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="save">Salvar</button>
                </div>
            </div>
        </div>
        <hr>
        <div class="modal-bottom">
            <div class="cards" *ngFor="let i of InfoPerson">
                <app-card-edit-student [itens]="i"></app-card-edit-student>
            </div>
        </div>
    </div>
</div>