<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
        <div class="modal-top">
            <div class="modal-left">
                <div class="modal-header">
                    <div class="h-left">
                        <h1 class="title" id="staticBackdropLabel">Editar turma</h1>
                    </div>
                </div>
                <div class="modal-body">
                    <h5>Dados da turma</h5>
                    <form>
                        <div class="first-line">
                            <div class="course">
                                <p class="title">Curso</p>
                                <input class="field" type="checkbox" id="dropdown" class="dropdown-checkbox" placeholder="{{infocard.curso_nome}}">
                                <label class="fieldlabel" for="dropdown" id="dropdown-btn"><img class="arrow" src="../../assets/img/dropdown.svg" alt=""></label>
                                <div class="dropdown-content">
                                    <app-course></app-course>
                                </div>
                            </div>
                            
                            
                            
                            <div class="class">
                                <p class="title">Ano Formatura</p>
                                <input class="field2" type="checkbox" id="dropdown2" class="dropdown-checkbox2" placeholder="{{ infocard.ano_formatura }}">
                                <label class="fieldlabel2" for="dropdown2" id="dropdown-btn2"><img class="arrow" src="../../assets/img/dropdown.svg" alt=""></label>
                                <div class="dropdown-content2">
                                    <app-year></app-year>
                                </div>
                            </div>

                            

                        </div>
                        <div class="second-line">
                            <div class="number">
                                <p class="title">Quantidade de egressos</p>
                                <input class="field" type="text" placeholder="{{infocard.qtd_aln}}" value="">
                            </div>
                            <div class="date">
                                <p class="title">Data de formatura</p>
                                <input class="field" type="text" placeholder="{{getYearFromDate(infocard.ano_formatura)}}" value="">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-right">
                <div class="modal-footer-right-top">
                    <button type="button" class="delete" data-bs-dismiss="modal" (click)="abrirModalDelete()">Excluir</button>
                    <div class="modal-footer-buttons">
                        <button type="button" class="select" (click)="onCardClickAll()">{{ selectAll ? 'Deselecionar Todos' : 'Selecionar Todos' }}</button>
                        <button type="button" class="import">Importar Alunos</button>
                    </div>
                </div>
                <div class="modal-footer-right-bottom">
                    <button type="button" class="cancel" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="save" (click)="abrirModalSave()">Salvar</button>
                </div>
            </div>
        </div>
        <hr>
        <div class="modal-bottom">
            <ng-container class="cards" *ngFor="let i of infoPerson">
                <ng-container *ngIf="i.turma_id === infocard.turma_id">
                    <app-card-edit-student [infocard]="i"></app-card-edit-student>
                </ng-container>
            </ng-container>
        </div>
    </div>
</div>