<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">

    <div class="modal-content" *ngFor="let item of user">
        <div class="h-right">

            <button class="close-btn" id='close-btn' (click)="closeModal()"></button>
            
        </div>

        <div class="modal-header">

            <div class="h-left">

                <img src="../../assets/img/Profile.svg" alt="">
                <h1 class="modal-title" id="staticBackdropLabel">{{item.user_name}}</h1>

            </div>

            <div class="h-right">

                <button type="submit" (click)="abrirModal(item)">
                    <img src="../../assets/img/edit.svg" alt="">
                </button>

            </div>

        </div>

        <div class="modal-body">

            <h5>Dados pessoais</h5>

            <div class="first-line">

                <div class="email">

                    <p class="title">E-mail</p>
                    <p class="filed">{{item.user_email}}</p>

                </div>

                <div class="password">

                    <p class="title">Senha</p>
                    <p class="filed">*************</p>

                </div>

            </div>

            <div class="second-line">

                <div class="second-email">

                    <p class="title">2° E-mail</p>
                    <p class="filed">{{item.email2}}</p>

                </div>

                <div class="born">

                    <p class="title">Data de nascimento</p>
                    <p class="filed">{{getYearFromDate(item.data_nasc)}}</p>

                </div>

            </div>

            <div class="third-line">

                <div class="class">

                    <p class="title">Turma</p>
                    <p class="filed">13° Turma</p>

                </div>

                <div class="course">

                    <p class="title">Curso</p>
                    <p class="filed">Big Data no Agronegócio</p>

                </div>

            </div>

            <div class="fourth-line">

                <div class="cell">

                    <p class="title">Celular</p>
                        <p class="filed">{{item.user_telefone}}</p>

                </div>

                <div class="gender">

                    <p class="title">Sexo</p>
                    <p class="filed">{{item.sexo}}</p>

                </div>

            </div>

            <div class="fifth-line">

                <div class="city">

                    <p class="title">Cidade</p>
                    <p class="filed">{{item.cdd_local_trabalho}}</p>

                </div>

                <div class="state">

                    <p class="title">Estado</p>
                    <p class="filed">{{item.est_local_trabalho}}</p>

                </div>

            </div>

            <div class="sixth-line">

                <div class="adress">

                    <p class="title">Endereço</p>
                    <p class="filed">{{item.end_local_trabalho}}</p>

                </div>

            </div>

            <div class="header-table">

                <h5>Formação Acadêmica</h5>

            </div>

            <table class="table">

                <thead class="table-light">

                    <tr>
                        <th scope="col">Formação</th>
                        <th scope="col">Instituição</th>
                        <th scope="col">Curso</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Período</th>
                    </tr>

                </thead>

                <tbody>

                    <tr>
                        <td>{{item.formacao}}</td>
                        <td>{{item.localformacao}}</td>
                        <td>Big Data no Agronegócio</td>
                        <td>Pública</td>
                        <td>{{item.anoformacao}}</td>
                    </tr>

                    <tr>
                        <td>Ensino Técnico</td>
                        <td>Fatec</td>
                        <td>MAP</td>
                        <td>Pública</td>
                        <td>2023 - 2025</td>
                    </tr>

                </tbody>

            </table>

            <div class="header-table">

                <h5>Experiência Profissional</h5>

            </div>

            <table class="table">

                <thead class="table-light">

                    <tr>
                        <th scope="col">Empresa</th>
                        <th scope="col">Profissão/Função</th>
                        <th scope="col">Período</th>
                    </tr>

                </thead>

                <tbody>

                    <tr>
                        <td>Jacto</td>
                        <td>Engenheiro</td>
                        <td>2023 - 2025</td>
                    </tr>

                    <tr>
                        <td>Orion</td>
                        <td>Desenvolvedor</td>
                        <td>2023 - 2025</td>
                    </tr>

                </tbody>

            </table>

            <div class="social-medias">

                <h5>Redes sociais</h5>

                <div class="linkedin">

                    <img src="../../assets/img/Linkedin.svg" alt="">

                    <div class="info">

                        <p class="title">LinkedIn</p>
                        <p class="filed">{{item.linkedin}}</p>

                    </div>

                </div>

                <div class="instagram">

                    <img src="../../assets/img/Instagram.svg" alt="">

                    <div class="info">

                        <p class="title">Instagram</p>
                        <p class="filed">{{item.instagram}}</p>

                    </div>

                </div>

                <div class="lattes">

                    <img src="../../assets/img/Lattes.svg" alt="">

                    <div class="info">

                        <p class="title">Curriculum Lattes</p>
                        <p class="filed">{{item.lattes}}</p>

                    </div>

                </div>

                <div class="facebook">

                    <img src="../../assets/img/Facebook.svg" alt="">

                    <div class="info">

                        <p class="title">Facebook</p>
                        <p class="filed">{{item.facebook}}</p>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>